.profile {
    width: 80%;
    padding: 20px;
    margin: auto;
}

.profile-section {
    margin-bottom: 20px;
}



.section-title {
    font-family: sans-serif;
    font-size: 4em;
    border-bottom: 2px solid #f8f8f86b;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

.section-text {
    padding: 1rem;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.705);
    line-height: 1.3;
    letter-spacing: 1.1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.section-strong {
    color: #FFD700;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;

}

.section-card {
    margin-top: 0.5rem;
    width: 18.5rem;
    height: 25rem;
    background-color: #212121;
    border-radius: 1rem;
    border: #212121 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
    background-image: url('../../assets/img/Capture\ d’écran_4-5-2024_205611_s04-pilori-lechat-jaz.vercel.app.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.section-card:hover {
    transform: scale(1.1);
}

.card:hover {
    transform: translateY(-1.5rem);
    border: #f2295bf0 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}

.section-text:before {
    content: '• ';
    color: #FFD700;
}

.skill-box {
    flex: 0 0 calc(33.33% - 20px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.253);
    padding: 2rem;

    border-radius: 5px;
    position: relative;

}

.skill-box__icon {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.skill-box h3 {
    margin-top: 0;
    color: white;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: sans-serif;
    z-index: 1;
    position: relative;
}

.skill-box h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 5px;
    width: 100%;
    z-index: -1;
}

.skill-box:nth-child(1) h3::after {
    background-color: rgba(255, 0, 0, 0.5);
}

.skill-box:nth-child(2) h3::after {
    background-color: rgba(0, 255, 0, 0.5);

}

.skill-box:nth-child(3) h3::after {
    background-color: rgba(0, 0, 255, 0.5);

}

.skill-box:nth-child(4) h3::after {
    background-color: rgba(255, 255, 0, 0.5);
}

.skill-box p {
    color: white;
    font-size: 1.2em;
    line-height: 1.3;
    letter-spacing: 1.1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;

}


@media (max-width: 768px) {
    .profile {
        max-width: 65%;
        width: 65%;
    }

    .skill-box {
        flex: 0 0 100%;

    }

    .skill-box h3::after {
        background-color: transparent !important;
    }


    .section {
        &-title {
            font-size: 2.5em;
        }
    }
}

@media (max-width: 1405px) {
    .skill-box h3::after {
        background-color: transparent !important;
    }
}